.project-page-container {
  display: flex;
  min-height: 72vh;
  margin-bottom: 30px;
}

.single-project-container {
  width: 40%;
  margin-left: 84px;
  margin-right: 30px;
}

.project-title {
  font-size: 16px;
}
.project-images {
  width: 50%;
  display: grid;
  justify-content: center;
}
.links {
  color: white;
  text-decoration: none;
}
.tech-list {
  margin-bottom: 30px;
}
.project-photo {
  max-width: 100%;
}

.project-photo-gig-buddy {
  width: 100%;
}
.project-line {
  margin-bottom: 5px;
  padding-right: 16px;
}
.project-photo-text {
  width: 86%;
}
@media only screen and (max-width: 768px) {
  .project-page-container {
    display: block;
    padding: 15px;
  }
  .single-project-container {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
  }
  .project-images {
    width: 100%;
    box-sizing: border-box;
  }
}
