.flex-inline {
  display: flex;
  margin-bottom: 30px;
  min-height: 72vh;
}
.body-info-container {
  width: 35%;
  margin-left: 84px;
}
.body-info-text-description {
  font-size: 60px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 0;
}
.body-info-name-title {
  font-size: 16px;
  margin-bottom: 25px;
}
.body-info-text {
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}
.list-container {
  height: 152px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.list-items::before {
  content: ". ";
  color: #2c96dd;
}
.list-items {
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.get-in-touch-button {
  font-size: 14px;
  line-height: 20px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #2c96dd, #6c53df);
  color: white;
  height: 52px;
  display: flex;
  max-width: 180px;
  border: aliceblue;
  justify-content: center;
  text-decoration: none;
}
.get-in-touch-button-text {
  margin-left: 6px;
  margin-right: 16px;
}
.projects-list-container {
  width: 65%;
  display: flex;
  overflow-x: auto;
  margin-top: 45px;
}
.projects-text {
  color: white;
}
.project-container {
  min-width: 75%;
  padding: 15px;
}
.project-image {
  height: 360px;
  width: 100%;
}
.tech-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 8px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #2c96dd, #6c53df);
  color: white;
  padding: 12px;
  margin-top: 16px;
  margin-right: 8px;
  border: aliceblue;
}
.tech-button:focus {
  outline: none;
}
.line {
  width: 7%;
  border-bottom: 1px solid #2c96dd;
}
.project-info {
  width: 50%;
  font-size: 14px;
}
.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-bottom: 4px;
}
.me-photo {
  width: 94%;
}
.mail-button {
  margin-top: 12px;
  margin-left: 16px;
}
@media only screen and (max-width: 768px) {
  .flex-inline {
    display: block;
    padding: 15px;
  }
  .project-container {
    padding: 20px 0;
  }
  .body-info-container {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .projects-list-container {
    display: block;
    width: 100%;
  }
  .project-info {
    width: 100%;
  }
  .me-photo {
    padding-left: 15px;
    width: 50%;
  }
  .get-in-touch-button {
    margin-left: 15px;
  }
  .project-image {
    width: 100%;
    height: 100%;
  }
}
