.header-container {
  margin: 32px 84px 0 84px;
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.header-socials {
  font-size: 20px;
  display: inline-flex;
}
.header-text-work {
  font-size: 20px;
  display: inline-flex;
  margin: 0;
}
.header-text-work:hover {
  border-bottom: 2px #2c96dd solid;
}
@media only screen and (max-width: 768px) {
  .header-container {
    margin: 30px 15px;
    height: 40px;
  }
}
